@font-face {
  font-family: "montserrat";
  src: url(../font/Montserrat-VariableFont_wght.ttf);
}
* {
  font-family: "montserrat";
}
body {
  margin: 0%;
}
nav {
  font-size: 1rem;
  font-weight: bold;
  font-family: "montserrat";
  /* font-style: oblique; */
  /* text-decoration: underline; */
  letter-spacing: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#brand {
  padding-left: 0.5rem;
}
#menu {
  display: flex;
  list-style-type: none;
  font-size: 1rem;
}
#menu li {
  /* background-color: chartreuse; */
  padding: 0.5rem;
  /* margin: 0.5rem; */
}

#imgHeader {
  background-image: url(../img/hamburger.jpg);
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: flex-end;
  display: flex;
}
h1 {
  font-family: "montserrat";
  color: #545a5d;
  margin-left: 2rem;
  margin-bottom: 2rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
#about {
  width: 65%;
  /* border: 1px green solid; */
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

/* .est le symbol des classes css */
.card {
  width: 47%;
  /* border: 1px red solid; */
}
.image {
  width: 100%;
}
#about h2 {
  text-align: center;
}
#about h3 {
  text-align: center;
  font-size: 0.7rem;
}
/* our menu section */
#menu2 {
  width: 65%;
  /* border: 1px green solid; */
  margin: auto;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
#menu2 h3 {
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
}

p {
  font-size: 0.7rem;
}

/* section contact */
#contact {
  width: 65%;
  /* border: 1px green solid; */
  margin: auto;
  margin-top: 2rem;
}

#contact input {
  padding: 1rem 0.5rem;

  width: 100%;

  border: none;

  border-bottom: 1px grey solid;
  margin-bottom: 0.5rem;
  height: 1cm;
}

/* button SEND  */
#contact #send {
  border-bottom: none;
  width: fit-content;
}

#contact h3 {
  color: #34b7d4;
  font-size: 1rem;
  font-family: "montserrat";
}
